#index.html>
h1{
    color:red;
    
    {
        hight:200px;
        width:200px;
        background-size:100%
    }

       hight:200px;
       width:200px;
       background:rgba(0,0,233,.74)

}
